{%extends 'template.html'%} {%load static%} {%block css%}
<link rel="stylesheet" href="{% static 'CSS/style_jagrukta.css' %}" />

{%endblock%} {%block body%}
<div class="h-2">
    <span>Jagrukta Zone</span>
</div>
<div class="content-div">
    <div class="note content hd-4">
        <h4 class="hd-3">Disclaimer</h4>
        <span>This is a prototype and thus some of the articles used here may be
            copyrighted. Copyright Disclaimer under section 107 of the Copyright Act
            1976, allowance is made for “fair use” for purposes such as criticism,
            comment, news reporting, teaching, scholarship, education and research.
            Fair use is a use permitted by copyright statute that might otherwise be
            infringing.</span>
    </div>
    <div class="hd-4">
        <div class="article-block">
            <h5 class="hd-1">Pradhan Mantri Jan-Dhan Yojana (PMJDY)</h5>
            <p>
                Pradhan Mantri Jan-Dhan Yojana (PMJDY) is National Mission for Financial
                Inclusion to ensure access to financial services, namely, a basic
                savings & deposit accounts, remittance, credit, insurance, pension in an
                affordable manner. Under the scheme, a basic savings bank deposit (BSBD)
                account can be opened in any bank branch or Business Correspondent (Bank
                Mitra) outlet, by persons not having any other account.
            </p>
            <h6 class="hd-3">Benefits:</h6>
            <ul>
                <li>One basic savings bank account is opened for unbanked person.</li>
                <li>
                    There is no requirement to maintain any minimum balance in PMJDY
                    accounts.
                </li>
                <li>Interest is earned on the deposit in PMJDY accounts.</li>
                <li>Rupay Debit card is provided to PMJDY account holder.</li>
                <li>
                    Accident Insurance Cover of Rs.1 lakh (enhanced to Rs. 2 lakh to new
                    PMJDY accounts opened after 28.8.2018) is available
                </li>
                <li>with RuPay card issued to the PMJDY account holders.</li>
                <li>
                    An overdraft (OD) facility up to Rs. 10,000 to eligible account
                    holders is available.
                </li>
                <li>
                    PMJDY accounts are eligible for Direct Benefit Transfer (DBT), Pradhan
                    Mantri Jeevan Jyoti Bima Yojana (PMJJBY), Pradhan
                </li>
                <li>
                    Mantri Suraksha Bima Yojana (PMSBY), Atal Pension Yojana (APY), Micro
                    Units Development & RefinanceAgency Bank (MUDRA) scheme.
                </li>
            </ul>
            <p>
                Source:
                <a href="https://www.india.gov.in/spotlight/jan-dhan-se-jan-suraksha-social-security-citizens"
                    target="_blank">https://www.india.gov.in/spotlight/jan-dhan-se-jan-suraksha-social-security-citizens</a>
            </p>
            <div class="btn-div">
                <button>Take the quiz</button><button>Visit the official website here</button>
            </div>
        </div>
        <div class="article-block">
            <h5 class="hd-1">Stand Up India Scheme</h5>
            <p>
                Stand Up India Scheme facilitate bank loans between 10 lakh and 1 crore to atleast one scheduled caste
                (SC) or Scehduled
                Tribe, borrower and atleast one women per bank branch for setting up a greenfield enterprise. This
                enterprise may be in
                manufacturing, services or the trading sector. In case of non-individual enterprises at least 51% of the
                shareholding
                and controlling stake should be held by either an SC/ST or Woman entrepreneur.
            </p>

            <p>
                Source:
                <a href="https://www.startupindia.gov.in/content/sih/en/government-schemes/stand-up-india.html"
                    target="_blank">https://www.startupindia.gov.in/content/sih/en/government-schemes/stand-up-india.html</a>
            </p>
            <div class="btn-div">
                <button>Take the quiz</button><button>Visit the official website here</button>
            </div>
        </div>
        <div class="article-block">
            <h5 class="hd-1">Rashtriya Swasthya Bima Yojana </h5>
            <p>
                RSBY has been launched by Ministry of Labour and Employment, Government of India to provide health
                insurance coverage
                for Below Poverty Line (BPL) families. The objective of RSBY is to provide protection to BPL households
                from financial
                liabilities arising out of health shocks that involve hospitalization.
            </p>
            <p>
                Beneficiaries need to pay only Rs. 30 as the registration fee. This amount shall be used for incurring
                administrative
                expenses under the scheme.
            </p>

            <p>
                Source:

                <a href="https://www.india.gov.in/spotlight/rashtriya-swasthya-bima-yojana& http://www.rsby.gov.in/how_works.html"
                    target="_blank">https://www.india.gov.in/spotlight/rashtriya-swasthya-bima-yojana&
                    http://www.rsby.gov.in/how_works.html</a>
            </p>
            <div class="btn-div content">
                <button>Take the quiz</button><button>Visit the official website here</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
